* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*font-family: Bookman, URW Bookman L, serif;*/
    line-height: 1.6;
    color: #555555;
    background: #fff;
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
}

/* navigation toolbar */
nav {
    padding: 5rem 2rem 1rem;
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    transition: opacity 0.2s;
}

.nav-links a:hover {
    opacity: 0.6;
}

/* main container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

/* homepage */
.home-content {
    max-width: 600px;
    margin: 10rem auto;
    text-align: left; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

h1 {
    font-size: 2.5rem;
    font-family: Didot, serif;
    color: #000000;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

.name {
    font-family: Nanum Pen Script, cursive;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: Nanum Myeongjo, serif;
    font-size: 0.9rem;
}

.cta-buttons {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.btn {
    padding: 0.4rem 2rem;
    text-decoration: none;
    color: #555555;
    border: 1px solid #9b9b9b;
    border-radius: 10px;
    transition: all 0.5s;
    display: inline-block;
}

.btn:hover {
    background: #f8e8ff;
    color: #211550;
    transform: scale(1.05);
}

.social-links {
    margin-top: auto;
    padding-bottom: 2rem; 
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.2s;
}